<!DOCTYPE html>
<html>
  <head>
    <title>{{#lang}}{{Add comic}}{{/lang}}</title>
  </head>
  <body>
    <h1>{{#lang}}{{Add comic}}{{/lang}}</h1>
    <form action="/comic/add" method="post">
      <label for="title">{{#lang}}{{Title}}{{/lang}}</label>
      <br />
      <input id="title" type="text" name="title" />
      <br />
      <label for="description">{{#lang}}{{Description}}{{/lang}}</label>
      <br />
      <textarea id="description" name="description"></textarea>
      <br />
      <input type="submit" value="{{#lang}}{{Submit}}{{/lang}}">
    </form>
  </body>
</html>
