{{> header}}
		<div class="row">
			<div class="col-md-9 column-left">
				<canvas id="c"></canvas>
			</div>
			<div class="col-md-3 column-right">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class=" form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-6" for="fill">Text Color</label>
								<div class="col-sm-6">
									<input class="form-control" type="color" value="#000" id="fill">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-6" for="backgroundColor">Background Color</label>
								<div class="col-sm-6">
									<input class="form-control" type="color" value="#B0B0B0" id="backgroundColor">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-6" for="fontSize">Font Size</label>
								<div class="col-sm-6">
									<input class="form-control" type="number" min="1" value="40" id="fontSize">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-6" for="lineHeight">Line Height</label>
								<div class="col-sm-6">
									<input class="form-control" type="number" min="1" step="0.1" value="1" id="lineHeight">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="checkbox-inline"><input class="checkbox" type="checkbox" id="bold">Bold</label>
							<label class="checkbox-inline"><input class="checkbox" type="checkbox" id="italic">Italic</label>
							<label class="checkbox-inline"><input class="checkbox" type="checkbox" id="underline">Underline</label>
						</div>
						<div class="form-group">
							<input class="btn" type="button" value="Insert" id="insertbox">
							<input class="btn" type="button" value="Delete" id="deletebox">
						</div>
					</div>
				</div>

				<form action="/comic/{{comic_id}}/page/{{page_index}}/update"	method="post">
					<div class="form-group">
						<label for="title">{{#lang}}{{Title}}{{/lang}}</label>
						<input class="form-control" type="text" value="{{title}}" id="title" name="title">
					</div>
					<div class="form-group">
						<label for="description">{{#lang}}{{Description}}{{/lang}}</label>
						<textarea class="form-control" id="description" name="description">{{description}}</textarea>
					</div>
					<textarea id="json" name="content" readonly style="display: none">{{content}}</textarea>
					<button type="submit" class="btn btn-primary"id="save">{{#lang}}{{Save}}{{/lang}}</button>
				</form>
			</div>
		</div>
	</div>
	<script src="/fabric.min.js"></script>
	<script src="/fabric.canvasex.js"></script>
	<script src="/jquery.min.js"></script>
	<script src="/editor.js"></script>
	<script src="/bootstrap.min.js"></script>
</body>
</html>
