
<form id="post" method="post" action="/postreply?tid=" onsubmit="this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}">
	<input type="hidden" name="form_sent" value="1" />
	<input type="text" name="req_subject" value="" size="80" maxlength="70" tabindex="1" /><br />
	<textarea name="req_message" id="req_message" rows="20" cols="95" tabindex="2"></textarea>
	<p class="buttons"><input type="submit" name="submit" value="{{#lang}}{{Submit}}{{/lang}}" tabindex="3" accesskey="s" /> <input type="submit" name="preview" value="{{#lang}}{{Preview}}{{/lang}}" tabindex="4" accesskey="p" /></p>
</form>
