<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{page_title}}</title>
		<link rel="stylesheet" type="text/css" href="/style/ForestDragon.css" />
	</head>
	<body>
	<div class="page-wrap">
		<header>
			<div id="brdheader">
				<div id="brdlogo"><span><a class="convert" href="/">测试{{o_board_title}}</a></span></div>
				<form action="/search">
					<input maxlength="40" name="q" value="" type="text" />
				</form>
				<ul>

				</ul>
				<ul>
					{{^user}}
					<li><a href="/register">{{#lang}}{{Register}}{{/lang}}</a></li>
					<li><a href="/login">{{#lang}}{{Login}}{{/lang}}</a></li>
					{{/user}}
					{{#user}}
					<li><a href="/user/{{userID}}/profile">{{username}}</a></li>
					<li><a href="/user/{{userID}}/subscriptions">我的订阅</a></li>
					<li><a>关注的用户</a></li>
					<li><a href="/user/{{userID}}/notifies">{{#lang}}{{Notifies}}{{/lang}}{{#new_notify}}({{number}}){{/new_notify}}</a></li>
					<li><a href="/user/{{userID}}/settings">设置</a></li>
					<li><a href="/logout?csrf_token={{csrf_token}}">{{#lang}}{{Logout}}{{/lang}}</a></li>
					{{/user}}
				</ul>
			</div>
		</header>
		<div class="content-wrap">
