{{> header}}
			<div class="index-main-wrap box">
				<ul id="collection-list" class="contentlist">
					{{#collection_list}}
					<li><a {{#current}}class="tab-current"{{/current}} href="{{url}}">{{name}}</a></li>
					{{/collection_list}}
				</ul>
				<ul id="topiclist" class="contentlist">
					{{#topic_list}}
					<li>
						<ul class="item">
						{{#is_painting}}
							<li class="item-title item-thumbnail-title"><h4><a href="/topic/{{id}}">{{subject}}</a></h4></li>
							<li class="item-thumbnail"><a href="topic/{{id}}"><img src="/thumbnails/{{id}}.jpeg" /></a></li>
						{{/is_painting}}
						{{^is_painting}}
							<li class="item-title"><h4><a href="/topic/{{id}}">{{subject}}</a></h4></li>
						{{/is_painting}}
							<li class="item-poster"><span>{{poster}}</span></li>
							<li class="item-tag"><span><a class="forum" href="/forum/{{forum_id}}">{{forum_name}}</a></span></li>
							<li class="item-reply-count">{{num_replies}}</li>
							<li class="item-last-post"><a href="/post/{{last_post_id}}" rel="nofollow">{{last_post_time}}</a></li>
							<li class="item-poster"><span>{{last_poster}}</span></li>
						</ul>
					</li>
					{{/topic_list}}
					{{^topic_list}}
					<li>
						<p>{{Empty board}}</p>
					</li>
					{{/topic_list}}
				</ul>
				<span class="pagelink">{{#paginate}}{{#suspension?}}<span class="spacer">...</span>{{/suspension?}}{{^suspension?}}{{#current_page?}}<strong{{#first_item?}} class="item1"{{/first_item?}}>{{page}}</strong>{{/current_page?}}{{^current_page?}}<a href="/{{^first_item?}}page/{{page}}{{/first_item?}}"{{#first_item?}} class="item1"{{/first_item?}}>{{page}}</a>{{/current_page?}}{{/suspension?}}{{/paginate}}</span>
			</div>
			<aside>
				<div class="box">
					<dl>
						<dt>{{#lang}}{{Newest topic}}{{/lang}}</dt>
						{{#newest_topic_list}}
						<dd><a class="convert" href="topic/{{id}}">{{subject}}</a></dd>
						{{/newest_topic_list}}
					</dl>
				</div>
				<div class="box">
					<dl>
						<dt>{{#lang}}{{Board stats}}{{/lang}}</dt>
						<dd><span>{{#lang}}{{Newest user}}{{/lang}}: {{newest_user}}</span></dd>
						<dd><span>{{#lang}}{{No of users}}{{/lang}}: {{total_users}}</span></dd>
						<dd><span>{{#lang}}{{No of topics}}{{/lang}}: {{num_of_topics}}</span></dd>
						<dd><span>{{#lang}}{{No of posts}}{{/lang}}: {{total_posts}}</span></dd>
					</dl>
				</div>
			</aside>
			<div class="clear"></div>

{{> footer}}
