{{> header}}
		<h1>{{title}}</h1>
		<address class="author">{{author}}</address>
		<summary>{{description}}</summary>
		<a href="/comic/{{comic_id}}/page/add" rel="nofollow">{{#lang}}{{Add page}}{{/lang}}</a>
{{> footer}}
