<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Last page</title>
		<style type="text/css">
body {
	overflow-y: scroll;
}
.column-left {
	float: left;
	width: 100%;
}
.column-right label {
	width: 150px;
	display: inline-block;
}
		</style>
	</head>
	<body>
		<div class="column-left">
			<h2>已经是最后一页</h2>
		</div>
	</body>
</html>
